
/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}
body{
    font-family: 'Poppins', sans-serif;
    /* font-family:  'Roboto', sans-serif; */
}

/* ---------------------- NUEVO HEADER----------------------------*/
header{
    background: radial-gradient(#fff,#ffd6d6);


}
.box1{
    display: flex;   
    align-items: center;
    padding: 20px;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;   
}


a{
    text-decoration: none;
    color: #555;

}
p{
    color: #555;
}

 /*//////////////////////////// NUEVO MAIN //////////////////////////////*/ 
.categorias{
    margin: 70px 0;
    
}
.fila-img{
    flex-basis:30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.fila-img img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.column4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5;
}
.column4 img{
    width: 100%;

}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position:relative;
    line-height: 60px;
    color:#555
}
.title::after{
    content:'';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50)
}
h4{
    color:#555;
    font-weight: normal;
}
.column4 p {
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;


}
.column4:hover{
    
    animation: subida 0.5s alternate;

}
@keyframes subida{
    100%{
        transform: translateY(-15px);
    

    }
}
/* ___________________________________
OFFERT
___________________________________ */
.title-relog{
    font-size: 3em;
    color: black;
    font-weight: 700;
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top:80px ;
    padding: 30px 0;
}
.column1 .offer-img{
    padding: 50px;

}
small{
    color: #555;


}
/* ___________________________________________________________________________
                                CAROUSEL
____________________________________________________________________________ */
.carousel{
    margin: 50px auto;
}
.column5{
    width: 160px;
}
.column5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.column5 img:hover{
    filter: grayscale(0%);

 }
