
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
    font-family:  'Roboto', sans-serif;
}
header{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
}

a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

.nav a:hover {
    color: red;
    background-color: transparent;
    border-bottom: solid 2px red;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
    border-radius: 30px;
    width: 250px;
}
.search input{
    border: none;
    background-color: transparent;
    padding: 3px;
    font-size: 20px;
}
.search input:focus{
    outline: none;
    
}
.box1{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: black;
    color: white;
}


.menu{  
   
    padding: 30px;  
   
    
}
.menu a,i{
    color: black;
    margin-right: 10px;
    font-size: 20px ;
}


 

.nav{
    display: flex;
}
.nav ul{
     
    display: flex;
    
}
.nav ul li{
     
    display: flex;
    justify-content: space-around;
    padding: 0px 20px;
    font-size: 20px;
    
}
.nav ul li a{
    color: black;
}


.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 200;
    width: 80%;
}

.envios, .pagos , .contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 110px;
    margin: 0 50px;
    border: 2px solid black;
    border-radius: 30px;
    height: 75px;
    
}

.info i{
   font-size: 40px;
}
.info h3{
    font-size:22px;

}

.mosaico1{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 2px 2px 2px;
    
    height: 400px;
    
}

.mosaico2{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 2px; 
    height: 400px;
    
}

.img30{
    width: 35%;
}
.img30 img{
    width: 100%;
    height: 100%;
}

.img20{
    width:30%;

}
.img20 img{
    width: 100%;
    height: 100%;
}

.img60{
    width: 60%;
}
.img60 img{
    width: 100%;
    height:100% ;
}

.img40{
    width: 40%;
}
.img40 img{
    width: 100%;
    height: 100%;
}