*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}

.menu li{
    margin-right: 10px;
    list-style-type: none;
}

.contenedor {
    display: flex;
    flex-direction: row;
    background-color:red;
    justify-content: center;

}
.table{
    border: solid 1px black;
    
}
.options{
    padding: 20px;
    margin: 20px;
}
.options ul{
    display: flex;
    flex-direction: row;
}

.contenedor img{
    width: 10%;
}