*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}

.menu li{
    margin-right: 10px;
    list-style-type: none;
}

.contenedor {
    display: flex;
    flex-direction: row;
    background-color:red;
    justify-content: center;
a
}
.table{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    

}

.imagen img{
    width: 400px;
}
.imagen{
display: flex;
align-items: center;
justify-content: center;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.options ul{
    display: flex;
    flex-direction: row;
 

}

}
.description{
    display: flex;
    justify-content: center;
}

