@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'oswald', sans-serif;
}

body{
    background-image: url(/images/bgw.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.contact-form{

    background: rgb(243, 243, 243);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   padding: 30px;
 
    width: 350px;
    height: 500px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.input-fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.input-fields input{
    font-weight: 300;
    margin: 0px 0px;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #616161;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.send{

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.send .button{
    border-radius: 8px;

    text-align: center;
    color: grey;
    border: 2px;
}

::-webkit-input-placeholder{
color: #616161;

}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social ul{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    font-size: 30px;
    width: 50%;
    list-style:none;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}