@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-family:  'Roboto', sans-serif; */
}
    
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.columnas1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #D80621;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: white;
  }

.columna1a{
    padding-right: 30px;
}
.columna2a{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.columna1b{
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.columna2b{
    padding-left: 30px;
}