*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

.card {
    width: 60vw
}

.contenedor{
display:flex;
position: relative;
margin-bottom: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

}

.resumen{
    border: 1px solid rgb(218, 218, 218);
    width: 90%;
    padding: 5px;
    border-radius: 2%;
}

.resum span{
    font-size: 25px;
    font-weight:600;
    display: flex;
    justify-content: center;
}

.products{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.deliver{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.total{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px;
}