@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}


.steps{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px ;    
    flex-wrap: wrap;
}
.shipping{
    display: flex;
    justify-content: center;
    align-items: center;
}
.support{
    display: flex;
    justify-content: center;
    align-items: center;
}
.garanty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipping i{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.support i{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.garanty i{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.shop i{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.steptext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.seccion{
    margin: 30px 0px;
    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.cards{
    margin: 15px
}
.cards:hover{
    
    animation: bounce 1s ease;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carousl{
    height: 500px;
    width: 100vw;
}

.banner1{
    background-image: url(/images/banner/banner4.jpg);
    background-repeat:round;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbanner {
    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.cardbanner:before {
content: "";
position: absolute;
background: inherit;
z-index: -1;
top: 0;
left: 0;
right: 0;
bottom: 0;
box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
filter: blur(10px);
margin: -20px;
}
.cardbanner h2{
font-weight: bold;
color: white;
}

.banner2{
    background-image: url("/images/banner51.jpg");
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.formcont{
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Reviews{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
    flex-wrap: wrap;
}
.customers{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.stars{
    display: flex;
    color: gold;
}
.avatar{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.avatext{
    max-width: 300px;
}