@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: url('/images/bg.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
}

.container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}