<link rel="stylesheet" href="../stylesheets/headerEnUso.css">

<div class="header-container">
            
    <div class="box1">
    
        
        <nav class="nav">
            <div class="logo">
                <a href="/"><img  src="/images/LOGO.PNG" alt="sport.limits" width= 150px></a>
            </div>
            <div>
                <ul>
                    <li class="big">
                        <a href="/">Niño </a>
                        <div class="sub-menu">
                            <ul>
                                <li><a href="">hola</a></li>
                                <li><a href="">que</a></li>
                                <li><a href="">tal</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="big">
                        <a href="/">Mujer</a>
                    </li>
                    <li class="big">
                        <a href="/">Hombre</a>
                    </li>
                    <li>
                        <a href="/">Marcas</a>
                    </li>
                    <li>
                        <a href="/">Ofertas</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul>    
                    <li><a href="/shop/cart"><img src="/images/cart.png" width="30px" height="30px"></a></li>
                    <li><a href="/login"><img src="/images/user.png" width="30px" height="30px"></a></li>
                    <li><a href="/shop/wishlist"><img src="/images/wishlist.png" width="30px" height="30px"></a></li>
                </ul>
            </div>    
        </nav>
        


    </div>
</div>