<link rel="stylesheet" href="../stylesheets/headerEnUso.css">

<div class="header-container-scroll" id="navBar">
            
    <div class="box1">
    
        
        <nav class="nav">
            <div class="logo">
                <a href="/"><img  src="/images/LOGO.PNG" alt="sport.limits" width= 150px></a>
            </div>
            <div>
                <ul>
                    <li class="big">
                        <a href="/shop/hombre">Hombre</a>
                    </li>
                    <li class="big">
                        <a href="/shop/mujer">Mujer</a>
                    </li>
                    <li class="big">
                        <a href="/shop/kid">Niño </a>
                      
                    </li>
                   
                    
                    <li>
                        <a href="/shop/marcas">Marcas</a>
                    </li>
                    <li>
                        <a href="/">Ofertas</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul>    
                    <li><a href="/shop/cart"><img src="/images/cart.png" width="30px" height="30px"></a></li>
                    <li>
                      <!---  <%= typeof userLocals != "undefined" ? userLocals.email : null %> --->
                            <div class="dropdown">
                                
                            <a href="/login"><img src="/images/user.png" width="30px" height="30px" class="dropbtn"></a>
                             
                            <div class="dropdown-content">
                                <% if(typeof userLocals != "undefined"){  %>   
                                    
                                            <a href="/users/<%= usuario.id %>">ver perfil</a>
                                            <a href="/loguot"> Cerrar Session</a>
                                       
                                    
                                <% } else { %>
                                    
                                           <a href="/login">Iniciar Session</a> 
                                           <a href="/register">Registrarse</a>
                                       
                                    
                                    <% } %>
                                </div>
                               
                            </div>
                          
                    </li>
                  
                    <li><a href="/shop/wishlist"><img src="/images/wishlist.png" width="30px" height="30px"  ></a>
                        
                    </li>
                </ul>
            </div>    
        </nav>
        


    </div>
</div>