<link rel="stylesheet" href="../stylesheets/headerEnUso.css">

<div class="header-container">
            
    <div class="box1">
    
        
        <nav class="nav">
            <div class="logo">
                <a href="/"><img  src="/images/LOGO.PNG" alt="sport.limits" width= 150px></a>
            </div>
            <div>
                <ul>
                    <li class="big"><a href="/users/register">CREAR USUARIO </a></li>
                    <li class="big"><a href="/">IR AL INICIO</a></li>

                </ul>
            </div>
            <div>
                <ul>    
                    
                    <li><a href="/users/login"><img src="/images/user.png" width="30px" height="30px"></a></li>
                    
                </ul>
            </div>    
        </nav>
        


    </div>
</div>