<link rel="stylesheet" href="stylesheets/header.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<div class="headercont">
    <div class="box2">
        <div class="enviogratis">
            <h3>Envio gratis apartir de $2500</h3>
        </div>
    </div>


    <div class="box1">
        
        <div class="logo">
            <img  src="/images/LOGO.PNG" alt="sport.limits" width="70%">
        </div>

        <nav class="nav">
            <ul>
                <li><a href="#">NOVEDADES</a></li>
                <li><a href="#">HOMBRE</a></li>
                <li><a href="#">MUJER</a></li>
                <li><a href="#">NIÑOS</a></li>
                <li><a href="#">MARCAS</a></li>
            </ul>
        </nav>

        <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" class="buscar" placeholder="Buscá tu producto">
        </div>

        <div class="menu">
            <a class="entrar" href="/login"><i class="fas fa-user"></i>Entrar</a>
            <a class="carrito" href=""><i class="fas fa-shopping-cart"></i>Carrito</a>
            <a class="deseados" href=""><i class="fas fa-heart"></i>Deseados</a>
        </div>

    </div>
</div>