<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="/stylesheets/style-cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <a href="/">Logo</a>
            </div>
            <div class="search"><i class="fas fa-search"></i></div>
        </header>
        <main></main>
        <footer></footer>
    </div>
    
</body>
</html>