<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/stylesheets/style-cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
</head>

<body>
    

        <%- include("./partials/header.ejs")%>
        <br><br><br><br>
    <div class="contenedor">
        <main>

            <!---- tarjeta de producto-->
            <div class="card">
                <div class="cardContainer">
                    <div class="image">
                        <img src="/images/shoes/1-500x500.jpg" alt="">
                    </div>
                    <div class="detail">
                        <div class="tittle">Zapatilla Nike - Metcon 4</div>
                        <div class="size"> Talle 11</div>
                        <div class="price">Precio $7800</div>
                        <div class="quantity">
                            <span>-</span>
                            <span>1</span>
                            <span>+</span>
                        </div>
                    </div>
                </div>    
                <div class="icons">
                    <div class="x"><i class="fas fa-times"></i></div>
                    <div class="like"><i class="far fa-heart"></i></div>
                </div>
            </div>

            <!---- Botón de pago -->
            <div class="pay">
                <button type="button" class="btn btn-outline-dark">Dark</button>
            </div>
            <!---- informacion extra-->
        </main>
        <aside>
            <!---- Resumen de pago -->
            <div class="resumen">
                <div class="resum">
                    <span>RESUMEN DEL PEDIDO</span>
                    
                </div>
                <div class="products">
                    <span>1 PRODUCTO</span>
                    <span>$7800</span>
                </div>
                <div class="deliver">
                    <span>ENVIO</span>
                    <span> Gratis</span>
                </div>
                <div class="total">
                    <span>TOTAL</span>
                    <span>$7800</span>
                </div>
            </div>
            <div class="promoCode">
                <input type="text" placeholder="CODIGO PROMOCIONAL">
                <span>+</span>
            </div>
        </aside>


    </div>

<footer>
    <%- include("./partials/footer")%>
</footer>



</body>
</html>