<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="stylesheets/style-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/images/LOGO.png" alt=""height="100">
            </div>
            <div class="titulo"><h1>Esta es mi tienda</h1></div>
            <div class="menu">
                <i class="fas fa-user"></i><a class="entrar" href="">entrar</a>
                <i class="fas fa-shopping-cart"></i><a class="carrito" href="">carrito</a>
                <i class="fas fa-heart"></i><a class="deseados" href="">deseados</a>
            </div>
            
        </header>
        <aside></aside>
        <main>
            
            <div class="categoria">
                <div class="menu2">
                  <a href="">hombre</a>
                  <a href="">mujer</a>
                  <a href="">niños</a>
                  <a href="">marca</a>
                </div>
                
                <p class="envio">Envio gratis apartir de $2500<p>
            </div>
            <div class="banner">

                <img src="/images/banner.jpg" alt=""height="600">

            </div>
            <div class="formasdepago">

               <img src="/images/2000px-mastercard-logo-436x340.png" alt=""height="50">
               <img src="/images/Visa-Logotipo-1992–2000.png" alt=""height="50">
               <img src="/images/PayPal-Logo.png" alt=""height="50">
               <img src="/images/isologoVertical.png" alt=""height="50">
                
             </div>
            <div class="contenidoprincipal">

                <img src="/images/foto chica.jpg" alt=""height="314">
                <img src="/images/foto chica 2.jpg" alt=""height="314">
                <img src="/images/moda 3.jpg" alt=""height="314">

            </div>
            <div class="ofertaimagen">

                <img src="/images/super imagen oferta.jpg" alt="" height=280>
                <img src="/images/foto chica.jpg" alt=""height="280">
                
            </div>
            <div class="carrusel">
                

            </div>
            
        </main>
        <footer>copyrigth</footer>
    

        
    </div>
    
</body>
</html>
