<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style-home.css">
    
</head>

<body>

    
    
    <header>
        <div class="cont">
            <div class="s1">
                <h2>READY FOR</h2>
                <h1>THE STREET</h1>
            </div>
            <div class="s2">
                <img src="/images/home/header/shoes.png" alt="">
            </div>
        </div>
    </header>
    <section class="section1">
        <img src="/images/home/header/4icons.png" alt="">
    </section>
    <main>
        <div class="section1">
            <div class="verticalBanners">
                <div class="bannerV1">
                    <h4 style="color: white;">Download The App</h4>
                    <h4 style="color: #fffc20;">It's very easy and quick</h4>
                    <div class="V1-buttons">
                        <button >boton 1</button>
                        <button>boton 2</button>
                    </div>
                    
                </div>
                <div class="bannerV2">
                    <img src="/images/home/bannerV/imgV2.png" alt="asd">
                </div>
                <div class="bannerV3">
                    <h1>CHANGE</h1>
                    <h4>your life habits. Start Now</h4>
                </div>
                <div class="bannerV4">
                    <div>
                        <h1 style="color: white;">SING UP</h1>
                        <h4 style="color: #fffc20;">and participate in the</h4>
                        <h4 style="color: white;">Dynamic 2020 Race</h4>
                        <h3 style="color: white;">WWW.DYNAMIC.COM</h3>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
   
    <footer>
        <%- include("./partials/footer")%>
    </footer>
     
    

  
</body>
</html>
