<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="stylesheets/style-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
</head>
<body>
    <div class="container">
        <header>
            
            <div class="box2">
                <div class="enviogratis">
                    <h3>Envio gratis apartir de $2500</h3>
                </div>
            </div>

            
            <div class="box1">
                
                <div class="logo">
                    <img src="/images/LOGO.PNG" alt="sport.limits" width="70%">
                </div>

                <nav class="nav">
                    <ul>
                        <li><a href="#">NOVEDADES</a></li>
                        <li><a href="#">HOMBRE</a></li>
                        <li><a href="#">MUJER</a></li>
                        <li><a href="#">NIÑOS</a></li>
                        <li><a href="#">MARCAS</a></li>
                    </ul>
                </nav>

                <div class="search">
                    <i class="fas fa-search"></i>
                    <input type="text" class="buscar" placeholder="Buscá tu producto">
                </div>

                <div class="menu">
                    <a class="entrar" href="/login"><i class="fas fa-user"></i>Entrar</a>
                    <a class="carrito" href=""><i class="fas fa-shopping-cart"></i>Carrito</a>
                    <a class="deseados" href=""><i class="fas fa-heart"></i>Deseados</a>
                </div>

            </div>

         

        </header>
        <aside></aside>
        <main>
            
            
            <div class="banner">

                <img src="/images/main-banner.jpg" alt=""height="600">

            </div>

            <div class="info">
                <div class="envios">
                    <i class="fas fa-truck"></i>
                    <h3>Envios a <br> domicilio </h3>
                </div>

                
                <div class="pagos">
                    <i class="fas fa-wallet"></i>
                    <h3>Ahora 12 y 18 </h3>
                </div>

                
                <div class="contacto">
                    <i class="fas fa-phone"></i>
                    <h3>9 a 18 Hrs <br> Lunes a Sábados</h3>
                </div>
            </div>


         
            <div class="mosaico1">
                <div class="img30"><img src="/images/foto chica.jpg" alt="img1"></div>
                <div class="img20"><img src="/images/foto chica 2.jpg" alt="img2"></div>
                <div class=img30> <img src="/images/moda 3.jpg" alt="img3"></div>
                
            </div>

            <div class="mosaico2">
                <div class="img60"><img src="/images/super imagen oferta.jpg" alt="img4" ></div>
                <div class="img40"><img src="/images/foto chica.jpg" alt="img5"></div>
            </div>
            
            
            <div class="carrusel">
                

            </div>
            
        </main>
        <footer>copyrigth</footer>
    

        
    </div>
    
</body>
</html>
