<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/stylesheets/style-home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>
<body>
   <!--  _______________________________________
            HEADER
            _______________________________________ -->
    
    
    <%- include("./partials/header.ejs")%>
    <header>
       
    

        <div class="row">
            <div class="colmun1">
                <h1>Da a tu entrenamiento<br>Un nuevo estilo!</h1>
                <p>El éxito no siempre se trata de la grandeza. 
                    <br>No se trata de coherencia.<br> 
                   Se trata del trabajo duro, constancia y el éxito vendrá</p>
                <a href="" class= "button"> Explora ahora &#8594;</a>    
            </div>
            <div class="column1">
                <img src="/images/image1.png" alt="">
            </div>
        
            </div>
     </header>
    
  
    
    <main>
       <!--  _______________________________________
         las 3 imagenes abajo del header (categorias) 
        _______________________________________ -->
        <div class="categorias">
            <h2 class="title">Categorias</h2>
            <div class="small-container">
                <div class="row">
                    <div class="fila-img">
                        <img src="/images/category-1.jpg" alt="">
                    </div>
                    <div class="fila-img">
                        <img src="/images/category-2.jpg" alt="">
                    </div>
                    <div class="fila-img">
                        <img src="/images/category-3.jpg" alt="">
                    </div>
    
                </div>
            </div>
        </div>    
            <!--  _______________________________________
                              productos destacados
        _______________________________________ -->

        <div class="small-container">
            <h2 class="title">Productos Destacados</h2>
            <div class="row">
                <div class="column4">
                    <img src="/images/product-1.jpg" alt="">
                    <h4 >Remera roja estampada</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>

                    </div>
                    <p>$1.500</p>
                </div>

                <div class="column4">
                    <img src="/images/product-2.jpg" alt="">
                    <h4>Zapatillas negras HRX</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>

                    </div>
                    <p>6.000</p>
                </div>
                <div class="column4">
                    <img src="/images/product-3.jpg" alt="">
                    <h4>jogging gris Adidas</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>

                    </div>
                    <p>$3.000</p>
                </div>

                <div class="column4">
                    <img src="/images/product-4.jpg">
                    <h4>Remera azul Puma</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>

                    </div>
                    <p>$1.500</p>
                </div>
                
            </div> 
            <!-- _______________________________________
            NUEVOS Productos
            _______________________________________ -->
            <h2 class="title">Nuevos prodcutos</h2>
            <div class="row">
                <div class="column4">
                    <img src="/images/product-5.jpg" alt="">
                    <h4 >Zapatillas grises Nike</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>

                    </div>
                    <p>$1.500</p>
                </div>

                <div class="column4">
                    <img src="/images/product-6.jpg" alt="">
                    <h4>Remera negra Puma</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>

                    </div>
                    <p>6.000</p>
                </div>
                <div class="column4">
                    <img src="/images/product-7.jpg" alt="">
                    <h4>Medias HRX</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>

                    </div>
                    <p>$3.000</p>
                </div>

                <div class="column4">
                    <img src="/images/product-8.jpg">
                    <h4>Reloj negro Fossil</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>

                    </div>
                    <p>$1.500</p>
                </div>
                
            </div>
            <div class="row">
                <div class="column4">
                    <img src="/images/product-9.jpg" alt="">
                    <h4 >Relog negro</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>

                    </div>
                    <p>$1.500</p>
                </div>

                <div class="column4">
                    <img src="/images/product-10.jpg" alt="">
                    <h4>zapatillas HRX</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>

                    </div>
                    <p>6.000</p>
                </div>
                <div class="column4">
                    <img src="/images/product-11.jpg" alt="">
                    <h4>Zapatillas gris HRX</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>

                    </div>
                    <p>$3.000</p>
                </div>

                <div class="column4">
                    <img src="/images/product-12.jpg">
                    <h4>jogging gris Nike</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>

                    </div>
                    <p>$1.500</p>
                </div>
                
            </div>  
        </div>
        <!-- _______________________________________
        OFERTA
        _______________________________________    -->   
        <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="column1">
                        <img src="/images/exclusive.png" class="offer-img">
                    </div>
                    <div class="column1">
                        <p>Exclusiva disponible en redstore</p>
                        <h4 class="title-relog">Smart Band 4</h4>
                        <small>Xiaomi Mi Band 4, 
                            análisis: la pantalla a color es un verdadero salto, 
                            pero lo mejor es depender menos del móvil
                        </small>
                        <a href="" class="button">Compralo Ahora &#8594</a>
                    </div>
                    

                </div>
            </div>
        </div>
        <!-- _______________________________________
            SUPUESTO CAROUSEL (SON IMAGENES POR AHORA)
            _______________________________________ -->
        <div class="carousel">
            <div class="small-container">
                <div class="row">
                    <div class="column5">
                        <img src="/images/logo-adidas.png" alt="" width="190px">
                    </div>
                    <div class="column5">
                        <img src="/images/nike logo multicolor.png" alt="" width="190px">
                    </div>
                    <div class="column5">
                        <img src="/images/tomy-logo.png" alt="" width="190px">
                    </div>
                    <div class="column5">
                        <img src="/images/puma-logo.png" alt="" width="190px">
                    </div>
                    <div class="column5">
                        <img src="/images/Lacoste-Logo.png" alt="" width="190px">
                    </div>
                </div>
            </div>
        </div>
    </main>
   <!--  _______________________________________
    FOOTER
    _______________________________________ -->
    <%- include("./partials/footer")%>
    

    
<script src="/javascripts/home.js"> 

</script>
    
</body>
</html>
