<!DOCTYPE html>
<html>
  <head>
    <title>e-commerce</title>
    <link rel='stylesheet' href='/stylesheets/style-index.css' />
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
  </head>
  <body>
    
    <div class="container">
      <header>Ecommerce</header>
      <aside>Ecommerce</aside>
      <main>Ecommerce</main>
      <footer>Ecommerce</footer>
    </div>  

  </body>
</html>
