<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style-loginregister.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">

        <div class="contact-form">
            <div class="input-fields">
                <input type="text" class="input" placeholder="Email">
                <input type="text" class="input" placeholder="Contraseña">
            </div>            
            <div class="button">Ingresar</div>    
        </div>

    </div>


</body>
</html>