<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <%- include("./partials/header.ejs")%>
    <p>Detalles</p>
    <%= product %> <!--Lo lee como un objeto-->
    <%- include("./partials/footer")%>
</body>
</html>