<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style-product.css' />
    <title>Vista Producto</title>
</head>
<body>
    
    <header>
        <img src="/images/LOGO.png" alt="">
        
        <ul class="menu">
            <li>Categorías</li>
            <li>Hombres</li>
            <li>Mujeres</li>
            <li>Niños</li>
            
        </ul>
        
    </header>
    <main>
        <div class="total">
            <div class="contenedor">
                <div class="img"><img src="images/product1.jpg" alt="zapatillas-nike" width="30%"></div>
                
                <div class="table">
                    <div class="options">
                        <h2>Zapatillas Nike</h2>
                        <h2>$5200 ARS</h2>
                        <div class="separate"><img src="/images/separate.png" alt="barra-separadora" width="30%"></div>
                        <h2>Talle</h2>
                    <div class="talles">
                            <ul>
                                <li>39</li>
                                <li>40</li>
                                <li>41</li>
                                <li>42</li>
                                <li>43</li>
                                <li>44</li>
                            </ul> 
                    </div>   
                    <div class="separate"><img src="/images/separate.png" alt="barra-separadora" width="30%"></div>
                    <div class="button">AGREGAR AL CARRO</div>
                    <div class="social">
                        <ul>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>whatsapp</li>
                            <li>telegram</li>
                        </ul>
                    </div>
                </div>
            </div>
       
            <div class="description">
                <p>Detalles del producto descripcion etc</p>
            </div>
        </div>    
    </main>
    <footer>

    </footer>
    
    
</body>
</html>