<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style-product.css' />
    <title>Vista Producto</title>
</head>
<body>
    
    <header>
        <img src="/images/LOGO.png" alt="">
        
        <ul class="menu">
            <li>Categorías</li>
            <li>Hombres</li>
            <li>Mujeres</li>
            <li>Niños</li>
            
        </ul>
        <div class="logreg"></div>
    </header>
    <main>
        <div class="total">
            <div class="contenedor">
                <div class="imagen">
                    <img src="images/product1.jpg" alt="zapatillas-nike">
                </div>
                <div class="table">
                    <div class="options">
                        <h2>Zapatillas Nike</h2>
                        <h2>$5200 ARS</h2>
                        <img src="/images/separate.png" alt="barra-separadora" >
                        <h2>Talle</h2>
                        <div class="talles">
                            <ul>
                                <li>39</li>
                                <li>40</li>
                                <li>41</li>
                                <li>42</li>
                                <li>43</li>
                                <li>44</li>
                            </ul> 
                        </div>   
                        <img src="/images/separate.png" alt="barra-separadora" >
                        <div class="button">AGREGAR AL CARRO</div>
                        <div class="social">
                            <ul>
                                <li>Twitter</li>
                                <li>Facebook</li>
                                <li>whatsapp</li>
                                <li>telegram</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>
                
            <div class="description">
                <p>Detalles del producto descripcion etc</p>
            </div>
        </div>    
    </main>
        <footer>
            <div class="contfoot">
                <div class="uno"><img src="/images/LOGO.png" alt="logardo"></div>
                <div class="dos">Institucional</div>
                <div class="tres">Ayuda</div>
                <div class="cuatro">Atención al Cliente</div>
            </div>
        </footer>
        
        
    </body>
    </html>