<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style-loginregister.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    
    

    
    <div class="container-login">
        <div class="contact-form">
            <div class="logo">
                <h1>Ingresar</h1>
            </div>
            <div class="socialmedia">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-google"></i></a>
            </div>
            <div class="input-fields">
                <input type="text" class="input" placeholder="Nombre" required="">
            </div>   
            <div class="input-fields">
                <input type="text" class="input" placeholder="Email" required="">
            </div>   
            <div class="input-fields">
                <input type="password" class="input" placeholder="Contraseña" required="">
            </div>         
            <div class="input-fields">
                <input type="password" class="input" placeholder="Repita su contraseña" required="">
            </div>    
            <input type="submit" class=button></div>    
        </div>

    </div>


</body>
</html>