<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style-shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    
    <%- include("./partials/header.ejs")%>





    <aside>
        <div class="sexFilter">
            <h3>Sexo</h3>
            
        </div>
        <div class="categoryFilter">
            <h3>Categoría</h3>
        </div>
        <div class="sizeFilter">
            <h3>Talle</h3>
        </div>
        <div class="sportFilter">
            <h3>Deporte</h3>
        </div>
        <div class="colorFilter">
            <h3>Color</h3>
        </div>
    </aside>
    <main>
        <div class="card">
            <div class="imagen">
                <img src="" alt="">
            </div>
            <div class="tittle">
                <h3>Titulo</h3>
            </div>
            <div class="price">
                <h3>Price</h3>
            </div>
        </div>

    </main>





<%- include("./partials/footer")%>

</body>
</html>