<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style-shop.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    
<%- include("../components/header") %>



<div class="container">

    <aside></aside>
    <main>
        <div class="product">
            <img src="" alt="">
        </div>

    </main>

</div>



<%- include("../components/footer") %>

</body>
</html>