<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    

    
 
                <h1>Registrarse</h1>
           

           <form action="/users/<%= user.idusers %>/edit" method="POST">
                <div class="input-fields">
                    <input type="text" name="username" class="input" placeholder="Nombre de Usurio" required="" value="<%= user.username %>">
                </div>   
                <div class="input-fields">
                    <input type="text" name="email" class="input" placeholder="Email" required="" value="<%= user.username %>">
                </div>   
                <div class="input-fields">
                    <input type="text" name="passcrypt" class="input" placeholder="Contraseña" required="" value="<%= user.username %>">
                </div>           
                <input type="submit" class=button></div>    
            </form>
       
    


</body>
</html>