<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <%- include("./partials/headerUsers.ejs")%>
       
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Listado de Usuarios</h1>
       
    <ul>
        <% for(let i=0; i < users.length ; i++){ %>
        <li>
          <a href="/users/<%=users[i].idusers %>">  <%= users[i].username %> </a>
        </li>

        <% } %>
    </ul>

</body>
</html>

